.sign-in-container {
  max-width: 300px;
  margin: auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #0000ee; /* default link color */
}
